<div class="education">
  <ul class="edu-list">
    {% for edu in site.data.education %}
      <li class="edu-item">
        <div class="edu-text">
          <strong>{{ edu.degree }}</strong><br>
          {{ edu.institution }}, {{ edu.location }}<br>
          <span class="edu-year">{{ edu.year }}</span>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>